.sect {
    top: 50%;
    margin-left: 6%;
    /* height: 500px; */
    height: 400px;
    width: 1200px;
    /* background-color: rgb(212, 175, 55); */
    display: flex;
}

.para-1 {
    /* width: calc(70% -70px);
    height: 90%; */
    width: calc(50% -50px);
    height: 60%;
    /* background-color: black; */
    background-color: #1B757C;
    /* border-right: 152px solid rgb(212, 175, 55); */
    border-right: 152px solid white;

    /* border-right: 200px solid rgb(212, 175, 55); */
    /* border-bottom: 300px solid transparent; */
    border-bottom: 393px solid transparent;
}

.para-2 {
    width: calc(50% +50px);
    height: 80%;
    /* width: calc(70% +70px);
    height: 30%; */
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 1800px);
    /* clip-path: polygon(0 0, 100% 0, 100% 0, 100% 1900px); */
}


.digital {
    margin: 4%;
}

.partner {
    margin: 4%;
}