.test {
    /* width: calc(70% -70px); */
    background-color: rgb(31, 223, 223);
    /* background-color: black; */
    margin-right: 25.7%;
    border-right: 38px solid white;
    border-bottom: 89px solid transparent;
}