.test {
    width: calc(70% -70px);
    /* background-color: rgb(31, 223, 223); */
    background-color: black;
    margin-right: 25.9%;
    /* margin-right: 60%; */
    border-right: 35px solid rgb(212, 175, 55);
    border-bottom: 95px solid transparent;
}

.nab {
    background-color: black;
    /* background-color: black; */
    margin-right: 28%;
    border-right: 80px solid rgb(212, 175, 55);
    border-bottom: 60px solid transparent;
}

.des {
    overflow: visible;
}